/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  .flatmir-footer {
    border: none;
    background-color: transparent;

    .container {
      margin-top: 0;
      margin-bottom: 0;
    }

    .hagen-footer-menu {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: $hagenGrayLight;
    }

    .hagen-footer-logo {
      padding-top: .5rem;
      padding-bottom: .4rem;
      background-color: $hagenBlue;
    }

    h4 {
      color: $body-color;
      text-transform: uppercase;
      font-size: 1.125rem;
    }
    a {
      color: $body-color;
      font-size: 0.875rem;
      &:hover {
        color: $body-color;
      }
    }

    .social-links,
    .internal_links {
      .nav-link {
        padding: 0.2rem 0;
      }
    }

  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
