/*  navigation
 *  - all styles about menus
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

#options_nav_box {
  .nav-link {
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mir-main-nav {
  .navbar-toggler {
    margin-top: .2rem;
    margin-bottom: .2rem;
    border-color: white;
  }
  .navbar {
    padding: 0;
  }
  #basket-list-item,
  .nav-item {
    padding: .2rem .5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.125rem;
    &:hover {
      background-color: $hagenBlueLight;
    }
  }
  .dropdown-menu {
    margin-top: -1px;
    .dropdown-item {
      text-transform: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bg-primary .navbar-nav .active > .nav-link {
  color: white !important;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .mir-main-nav {
    .mir-main-nav__entries {
      order: 4;
    }
    .bs-search {
      margin-left: auto;
      order: 3;
      .form-control {
        width: auto;
      }
    }
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs

  .mir-main-nav {
    .form-control {
      width: auto;
    }
  }

}
