@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  color:#4D4D4D;
}

h3 > a {
  color: #4645A4;
}

.mir-main-nav {
  box-shadow: none;
  background-color: #2A2A94;
  color: #FFFFFF;
}

#main_content{
  min-height:250px
}

a #logo_mir,a #logo_slogan{
  color:#4645A4
}

.jumbotron{
  background:-webkit-linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  background:-o-linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  background:-ms-linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  background:-moz-linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  background:linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  border-bottom: 1px solid #B7B7B7;
  color: #4D4D4D;
}

.jumbotron h1{
    color:#4645A4;
    font-weight: bold;
    text-shadow: 0px 0px 10px #fff;
}

.jumbotron h2{
    color:#4645A4;
    font-size:110%;
}

.jumbotwo h3 span{
  padding-right:30px;
    color: #4645A4;
}

.flatmir-footer{
  color:#FFFFFF;
  background-color:#2A2A94;
}

.flatmir-footer h4{
  color:#FFFFFF
}

.intR2Dok_logo_small {
    float: left;
}

div.preview {
    position: relative;
}
span.number {
    position: absolute;
    left: -50px;
    top:-1px;
    font-size: 22px;
    color: #ddd;
    border: 1px solid #ECF0F1;
    border-radius: 30%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 6px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-top-color: #ccc;
    border-left-color: #ccc;
}
#resultList a {
    margin-left: 0px;
    font-size: 16px;
}
.top-head h3 span {
    font-size: 160%;
}
.top-head h3 a {
    color: #999;
}
.top-head h3 {
    margin: 26px 0px 10px 0px;
}
article {
    position: relative;
}
#resultList li {
    border-bottom: 0px solid #DDD;
}
#resultList ul.actions {
    float: right;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 3px;

}
#resultList ul.actions li {
    border: none;
    margin: 0 10px 4px 0;

}
#resultList ul.actions li i{
    padding-right: 4px;
    vertical-align: middle;
}
.hit_links {
    margin: 10px 0px 10px 10px;
}
.files ul {
    list-style: none;
    margin: 10px 0 10px 10px;
    padding: 0;
}
.files ul li {
    border: none;
    border-bottom: none;
    border-left: 5px solid #ddd;
    padding-left: 5px;
    margin: 0 0 2px 0;
}
.hitInFileLabel {
    text-transform: capitalize;
    color: #999;
}
.date p {
    margin: 0 0 0 0;
    padding: 0;
}
.date {
    position: absolute;
    top: 4px;
    left: 0px;
    margin: 0 0 4px 0;
    font-size: 12px;
    color: #999;
}
section {
    margin-bottom: 5px;
}
section > span:first-child {
    color: #999;
    padding-right: 10px;
}
#resultList article.result aside {
    margin: 0em 1em 0em 0em;
}
#resultList .well {
    background-color: #f6f6f6;
    border-radius: 0;
}
#resultList article.result {
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-color: #ccc;
    border-bottom-color: #eee;
}
.summary p {
    font-size: 16px;
    margin-left: 10px;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  line-height: 180%;
}

p.three_column {
  -webkit-column-width: 300px;
     -moz-column-width: 300px;
          column-width: 300px;
  -webkit-column-gap: 52px;
     -moz-column-gap: 52px;
          column-gap: 52px;
}


#header_box {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
}


#project_logo_box a {
	display:block;
	padding-top:6px;
	padding-bottom:6px;
}

#logo_mir {
	display: table-cell;
	background-image: url("../content/images/dhlogohead.png");
	background-repeat: no-repeat;
	background-size:contain;
	width:300px; 
	height:44px;
	font-size:0px;
}
#logo_modul {
	display: table-cell;
	width:241px; 
	height:44px;
	font-size:0px;
}
#logo_slogan {
	display: none;
}

/* Logo nur 2 statt 15 Pixel vom Rand entfernt
   Flucht liegt bei 13px vom linken Logo-Rand */
.navbar-brand {
    padding: 20px 2px;
}
/* Anmeldenknopf ohne rechten (und linken) Rand*/
.nav > li > a#loginURL {
    padding: 0px 0px;
}
/* Hauptmen� ohne linken (und rechten) Rand*/
.mir-main-nav .navbar-form {
    padding: 0px 0px;
    margin: 0px -15px;
}
.mir-main-nav .navbar-nav {
    margin: 0px -15px;
}
.mir-main-nav .navbar-nav a {
    color: #f3f3f3;
}
.mir-main-nav .navbar-form {
    width: 360px;
}

.btn-default {
	background-color: #7979C9;
}
.btn-default:hover, .btn-default:focus, 
.btn-default.focus, .btn-default:active, 
.btn-default.active, .open > .dropdown-toggle.btn-default {
	background-color: #3D3DD6;
}
a {
	color:#7979C9;
}
h1 > a {
	color:#2A2A94;
}
h2 > a {
	color:#2A2A94;
}
h3 > a {
	color:#2A2A94;
}

.btn-flat {
    color: #4645A4;
    background-color: #a9a9a9;
    border-none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 60px;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}
.btn-flat .fa-search {
    font-size: 20px;
}

.btn-primary {
	background-color:#2A2A94;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{
	background-color:#181854;
}
.result_body .result_filter .panel .panel-heading .panel-title {
	color: #2C3E50;
}
.result_body .result_filter .panel .panel-heading {
    background-color: #C8C8FF;
}
.breadcrumb {
	background-color: #FFFFFF;
}
.breadcrumb>li+li:before{
	content:"/\00a0";
	padding:0 5px;
	color: #4D4D4D;
}
.breadcrumb > .active {
    color: #2C3E50;
}
.panel-default > .panel-heading {
	background-color: #E8E8FF;
}
.input-group-addon {
	background-color: #C8C8FF;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color:#181854;  
}
.pagination > li > a, .pagination > li > span {
	background-color: #2A2A94;
}
.pagination .disabled > a, .pagination .disabled > a:hover, 
.pagination .disabled > a:focus, .pagination .disabled > span{
	background-color: #C8C8FF;
	color: #F0F0F0;
}
.form-control::-moz-placeholder{
    color:#c3c3c3;
    color: #f3f3f3;
}
.form-control:-ms-input-placeholder{
    color:#c3c3c3;
    color: #f3f3f3;
}
.form-control::-webkit-input-placeholder{
    color:#c3c3c3;
    color: #f3f3f3;
}

.jumboHome {
    height: 225px;
    border-bottom: 1px solid #4645A4;

}
.jumboHome h1 {
    margin-top: 75px;
}
.jumboHome h1 img {
}
.jumboHome h2 {
    margin-top: 67px;
    color: #4645A4;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .180em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.label-info {
	background-color: #2A2A94
}
.label-primary {
    background-color: #4D4D4D;
}
.label-success {
    background-color: #5CE034;
}
.badges_block{
	display:table;
    width:100%;
}
.badges{
	display:table-cell;
	vertical-align:top
}
.mir-edit{
	display:table-cell;
	width:220px;
	vertical-align:top
}
.mir-form-group-head {
	margin-left: 30px;
	border-style: solid; 
	border-width: 0px 0px 2px 0px; 
	border-color: #ccc; 
	border-bottom-left-radius: 10px;
	padding: 3px;
	padding-left: 21px;
	font-size:21px;
}
div.mir-form-group > div.col-md-6{
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: #ccc;
	padding-left:13px;
}
div.mir-form-group > div{
	padding-top:3px;
	padding-bottom:3px;
}
div.mir-form-group:last-child > div.col-md-6 {
	padding-bottom:6px;
	border-bottom-left-radius: 10px;
}
div.mir-form-group:first-child > div {
	padding-top:6px;
}
.mir-form-group-pmud {
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: #ccc;
	border-bottom-left-radius: 10px;
}
.mir-form-group{
	margin-bottom: 0px;
}

.form-control::-moz-placeholder{
	color:#acb6c0;
}

.form-control:-ms-input-placeholder{
	color:#acb6c0
}

.form-control::-webkit-input-placeholder{
	color:#acb6c0
}
.mir-form-group-body {
	margin-bottom: 12px;
}
html body #powered_by {
	background-color:#FFFFFF;
	text-align: center;
}

#powered_by  img {
	margin:15px 20px 15px 20px;
}

.detail_block > h1 {
	font-size: 28px;
}
.subtitle {
	font-size: 28px;
}
.mir-relatedItem-body{
	margin-top:15px;
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: #ccc;
	border-bottom-left-radius: 10px;
}

.mir-relatedItem-head{
	margin-bottom: 15px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #ccc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 3px;
	padding-left: 21px;
	font-size:21px;
}

.searchbadge {
	background-color:#FFFFFF !important;
	border-width: 2px 2px 2px 0px !important;
}

.relItemsearch {
	border-right-width: 0px !important;
}

#fuhagenlogo{
	margin-top:30px;
	margin-bottom:30px;
}